body {
    background-color: #f2f6ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #1f3c88;
}

p {
    font-size: 18px;
    color: #333;
}

button {
    background-color: #1f3c88;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #162d63;
}
.card {
    background: white;
    padding: 30px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
}
